repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
        exclude: '\.py$'
      - id: trailing-whitespace
        exclude: '\.py$'
      - id: mixed-line-ending
        exclude: '\.py$'
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff - linting & formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
